/* Name: Lone Buffalo default styles */
/*
     template design specs: #d7dad9 - entire background
                            #f2f2f2 - content background
                            #ffffff - nav background
                            #231914 - default text color / head background
                            #6d695f - title text color
                            #d2503c - default link color
*/
    a {color:#d2503c;text-decoration:none;}
    a:hover {text-decoration:underline;}
    a.nav {color:#231914;}

    .body { }
